@using HealthifyApp.Web.ViewModels.Goal
@model DeleteGoalViewModel

<h2>Delete Goal</h2>

@{
    ViewData["Title"] = "Delete Goal";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<p>Are you sure you want to delete the goal permanently. If you delete a goal, you will also delete Target Nutrition(if any): <strong>@Model.GoalType</strong>?</p>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
