@using HealthifyApp.Web.ViewModels.BMI
@model BMICalculationInputModel

@{
    ViewData["Title"] = "BMI Calculator";
}

<h2 class="mb-4">BMI Calculator</h2>

<form asp-action="CalculateBMI" method="post">
    <div class="form-group mb-3">
        <label asp-for="Weight" class="form-label">Your Weight (kg)</label>
        <input asp-for="Weight" class="form-control" placeholder="Enter your weight in kilograms" min="1" step="0.1" />
        <span asp-validation-for="Weight" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Height" class="form-label">Your Height (m) like 1.62</label>
        <input asp-for="Height" class="form-control" placeholder="Enter your height in centimeters" min="1" step="0.1" />
        <span asp-validation-for="Height" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Calculate BMI</button>
</form>
